{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "semi": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "renderControlCharacters": true,
  "renderWhitespace": "all"
}
